.d3{
  height: 100%;
}
#drawLine svg{
	width: 100%;
	height: 400px;
}
#drawBarWithAxis svg{
	width: 100%;
	height: 200px;
}
#drawPie svg{
	width: 100%;
	height: 400px;
}
#drawBar{
	width: 100%;
	height: 100%;
}
#drawBar svg{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#drawBar svg>g{
	overflow: hidden;
}
